{{define "main"}}

<!-- Define variables for dynamic creation-->
{{ $thisdir := .File.Dir }}
{{ $thisfile:= .File.TranslationBaseName}}
{{ $learningpathfiles := slice }}




<div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-1">
    <!-- Left pane, filters-->
    <div class="c-col lg:c-col-3 xl:c-col-2 u-hide lg:u-display-block u-flex-shrink-0 card-tab-col">
        
            <div style="position:sticky; top:5px;">


                <!-- Title of _index.md always top left -->
                {{ with .Site.GetPage $thisdir}}
                    <h6 class="u-margin-top-1/2" style="font-size:1em; font-weight: normal;">{{ .Params.Title }}</h6>
                {{ end }}


            <!-- Dynamic, content ordered by weight-->
            {{ range .Site.Pages.ByWeight }}
                {{ if (eq .File.Dir $thisdir)}}

                {{ $learningpathfiles = $learningpathfiles | append . }}

                <a class="a-tab" href="{{.Permalink}}">
                    <div class="c-row tab-row {{ if eq .File.TranslationBaseName $thisfile}} active {{else}} inactive {{ end }}">
                        <div class="tab-right-card
                            {{ if eq .File.TranslationBaseName $thisfile}} active {{else}} inactive {{ end }}">
                            <h6 style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; font-size:1em;">
                                {{ if eq .File.TranslationBaseName "_index" }} Introduction {{else}} {{.Title}} {{ end }}
                            </h6>
                        </div>
                    </div>
                </a>
                {{ end }}
            {{end}} 

            <!-- GitHub links to edit / log an issue -->
            {{partial "github/github-links.html" .  }}
        </div>
    </div>

    <!-- Right pane, content-->
    <div class="c-col lg:c-col-9 xl:c-col-10">
        <!-- MOBILE ONLY -->
        <!---------------------------------------------->
        <div class="content-head-container-mobile lg:u-hide" id="content-head-container-mobile-id">
            <!-- Sticky Header -->
            {{ $mobile_expanded_id := "content-table-of-contents-mobile" }}
            <div class="content-header-mobile">
                <ads-button is-circular="" class="content-header-btn-mobile" level="tertiary" size="default" onclick="showMobileTableOfContents('{{$mobile_expanded_id}}')">
                    <i class="fas fa-list" style="color:white;"></i>
                </ads-button>
        
                {{ with .Site.GetPage $thisdir}}
                    <h6 class="u-margin-top-1/2 content-header-txt-mobile">&nbsp;&nbsp;{{ .Params.Title }}</h6>
                {{ end }}

            </div>
            <!-- Table of contents -->
            <div id="{{$mobile_expanded_id}}" hidden="true">
                {{range $learningpathfiles}}
                    <a href="{{.Permalink}}" class="content-individual-a-mobile">
                        <div class="content-individual-mobile {{ if eq .File.TranslationBaseName $thisfile}} active {{else}} inactive {{ end }}">
                            <p class="content-individual-txt-mobile {{ if eq .File.TranslationBaseName $thisfile}} active {{else}} inactive {{ end }}">
                                {{ if eq .File.TranslationBaseName "_index" }} Introduction {{else}} {{.Title}} {{ end }}
                            </p>
                        </div>
                    </a>
                {{end}}
            </div>

        </div>
        <!---------------------------------------------->

        <!-- Custom content layout depending on type -->
        {{ if eq .File.TranslationBaseName "_index" }}
            {{partial "learning-paths/introduction" .  }}
        {{else if eq .File.TranslationBaseName "_review"}}
            {{partial "learning-paths/review" (dict "context" . "learningpathfiles" $learningpathfiles)  }}
        {{else if eq .File.TranslationBaseName "_next-steps"}}
            {{partial "learning-paths/next-steps" (dict "context" . "learningpathfiles" $learningpathfiles)  }}
        {{ else }}
            {{partial "learning-paths/content" (dict "context" . "learningpathfiles" $learningpathfiles)  }}
        {{ end }}

        <!-- Next steps for buttons -->
        {{partial "learning-paths/nav-buttons" (dict "context" . "learningpathfiles" $learningpathfiles)  }}

    </div>

</div>

{{ partial "ads-cards/custom-tabs-style.html" . }}


<script>
    function showMobileTableOfContents(mobile_div_to_affect__id) {
        console.log(mobile_div_to_affect__id)
        const div_to_affect = document.getElementById(mobile_div_to_affect__id);

        if (div_to_affect.getAttribute('hidden')) {
            div_to_affect.removeAttribute('hidden');
            document.getElementById('content-head-container-mobile-id').classList.add("open");
        }
        else {
            div_to_affect.setAttribute('hidden',true);
            document.getElementById('content-head-container-mobile-id').classList.remove("open");
        }

    }

</script>


{{end}}

