{{define "main"}}
<!-- This file is themes/layouts/learning-paths/list.html-->


{{ $current_title := .Page.Title}}

<div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-1">
    <!-- Category filter -->
    <div class="c-col u-padding-top-2 u-hide u-flex-shrink-0 u-display-grid u-gap-1 lg:u-grid-columns-1" style="width: 320px;">
        <!-- Make range of just learning path pages 'cloud' 'iot' etc. -->
        {{ range where .Site.Pages "Params.maintopic" true}}
            <ads-button level= {{ if eq $current_title .Title }} "primary" {{else}} "tertiary" {{end}}
                        style="width: 300px;" 
                        name="{{.Title}}" 
                        class="main-topic-btn" 
                        onclick="location.href='{{.Permalink}}';">
                {{.Title}}
            </ads-button>
        {{end}}
    </div>
    


    <!-- Top level context for this learning path-->
    <div class="c-col c-col-12">
        <header>
            <h2>{{.Params.subtitle}}</h2>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}} 
    </div>
</div>


<div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-2-1/2 u-padding-bottom-2-1/2">
    <!-- Filter bar on left -->
    <div class="c-col u-hide lg:u-display-block u-flex-shrink-0" style="width: 320px;">
        <!-- Arm IP-->
        {{ partial "filtering/simple-expansion.html" (dict "context" . "displayname" "Arm IP" "tagname" .Site.Taxonomies.armips)}}
        <!-- Software -->
        {{ partial "filtering/complex-expansion.html" (dict "context" . "displayname" "Software" "tagnameone" .Site.Taxonomies.softwaresarm "tagnametwo" .Site.Taxonomies.softwaresother)}}
        <!-- Tools -->
        {{ partial "filtering/complex-expansion.html" (dict "context" . "displayname" "Tools" "tagnameone" .Site.Taxonomies.toolsarm "tagnametwo" .Site.Taxonomies.toolsother)}}
    </div>


    <!-- Search & Results on Right -->
    <div class="c-col c-col-12">

        <!-- Search bar (and hidden filters on mobile)-->
        <div class="c-row u-flex">
            <ads-search id="search-box" class="u-width-100%"></ads-search>
        </div>

        <ads-button level="tertiary" size="default" class="lg:u-hide u-position-relative">
            <i class="fal fa-filter"></i>
        </ads-button>

        <!-- Current tag bar -->
        <div id="current-tag-bar" class="c-row" style="min-height: 30px;">
            <!-- Filled dynamically by javascript & checkboxes-->
        </div>



        <!-- List of learning paths on right -->
        <div class="c-row">
            <div class="c-col c-col-12">
                <div class="u-display-grid u-gap-1 md:u-grid-columns-2 xl:u-grid-columns-3  u-margin-top-1">
                    {{ range .Pages }}
                    <div class='path-div
                                {{ with .Params.armips }}tag-{{ delimit . " tag-"}}{{ end }}
                                {{ with .Params.toolsother }}tag-{{ delimit . " tag-"}}{{ end }}
                                {{ with .Params.toolsarm }}tag-{{ delimit . " tag-"}}{{ end }}
                                {{ with .Params.softwaresother }}tag-{{ delimit . " tag-"}}{{ end }}
                                {{ with .Params.softwaresarm }}tag-{{ delimit . " tag-"}}{{ end }}'>
                        <ads-card has-hover-effect  link="{{.Permalink}}" class='path-card'>
                            <ads-card-content slot="content">
                                <ads-tag class="path-card-tag {{.Params.skillLevel}}" text="{{.Params.skillLevel}}"></ads-tag>
                                <h4 class="card-title u-margin-top-1/2 u-margin-bottom-1/2">{{.Title}}</h4>
                                <p class="card-date">Updated {{ .Lastmod.UTC.Format "Jan 2, 2006" }} by {{.GitInfo.AuthorName}}</p>
                                <p class="card-description">{{.Description}}</p>
                            </ads-card-content>   
                        </ads-card>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>






</div> <!-- End of left-right divide -->


{{ partial "filtering/filter-tag.html" . }}
{{ partial "ads-cards/ads-card-style.html" . }}

<!-- Include javascript to filter -->
<script src="/js/filter-paths.js"></script>


{{end}}