<style>
     /* Normal Tags */
    /***********************************/   
    html[theme='light'] ads-tag {
        --ads-tag-color: var(--arm-black);
        --ads-tag-border-color: var(--arm-dark-grey);
        --ads-tag-background-color: white;

        --ads-tag-color-hover: var(--arm-blue);
        --ads-tag-border-color-hover: var(--arm-blue);
        --ads-tag-background-color-hover: white;
    }



    ads-tag.path-card-tag.Getting-Started {
        --ads-tag-border-color: var(--arm-web-safe-green);
        --ads-tag-background-color: var(--arm-web-safe-green);
        --ads-tag-color: white;

        --ads-tag-border-color-hover: var(--arm-web-safe-green);
        --ads-tag-background-color-hover: var(--arm-web-safe-green);
        --ads-tag-color-hover: white;
    }
    ads-tag.path-card-tag.Introductory {
        --ads-tag-border-color: var(--arm-web-safe-blue);
        --ads-tag-background-color: var(--arm-web-safe-blue);
        --ads-tag-color: white;

        --ads-tag-border-color-hover: var(--arm-web-safe-blue);
        --ads-tag-background-color-hover: var(--arm-web-safe-blue);
        --ads-tag-color-hover: white;
    }
    ads-tag.path-card-tag.Experienced  {
        --ads-tag-border-color: var(--arm-web-safe-red);
        --ads-tag-background-color: var(--arm-web-safe-red);
        --ads-tag-color: white;

        --ads-tag-border-color-hover: var(--arm-web-safe-red);
        --ads-tag-background-color-hover: var(--arm-web-safe-red);
        --ads-tag-color-hover: white;
    }




    /* Section Tag */
    /***********************************/
    html[theme='light'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-light-blue);
        --ads-tag-border-color-hover: var(--arm-light-blue);
        --ads-tag-background-color: white;
        --ads-tag-background-color-hover: white;

        --ads-tag-color: var(--arm-black);
        --ads-tag-color-hover: var(--arm-black);
    }
    html[theme='dark'] ads-tag.path-card-section {
        --ads-tag-border-color: var(--arm-blue);
        --ads-tag-border-color-hover: var(--arm-blue);
        --ads-tag-background-color: var(--arm-color-base);
        --ads-tag-background-color-hover: var(--arm-color-base);

        --ads-tag-color: #A3A9AE;
        --ads-tag-color-hover: #A3A9AE;
    }




    .card-title {
        color: var(--arm-blue);
        font-weight: bold;
    }

    .card-date {
        color: var(--arm-dark-grey);
        font-size: 0.75rem;
    }



     /* Path Card */
    /***********************************/   
    ads-card.path-card {
        --ads-card-border-radius: 10px;
        --ads-card-border-width: 2px;
        --ads-card-border-color-hover: var(--arm-orange);

        --ads-card-border-color: var(--arm-light-grey-alt-2);
        --ads-card-background-color-hover: var(--arm-light-grey-alt);
        --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
    }
    html[theme='dark'] ads-card.path-card {
        --ads-card-border-color: var(--arm-black);
        --ads-card-background-color-hover: var(--black);
        --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(255, 255, 255, 0.25);
    }



</style>