<style>
    ads-tag.path-card-tag.Introductory {
        --ads-tag-border-color: var(--arm-green);
        --ads-tag-border-color-hover: var(--arm-green);
    }
    ads-tag.path-card-tag.Experienced  {
        --ads-tag-border-color: var(--arm-orange);
        --ads-tag-border-color-hover: var(--arm-orange);
    }

    .card-title {
        color: var(--arm-blue);
        font-weight: bold;
    }

    .card-date {
        color: var(--arm-dark-grey);
        font-size: 0.75rem;
    }




    ads-card.path-card {
        --ads-card-border-radius: 10px;
        --ads-card-border-width: 2px;
        --ads-card-border-color-hover: var(--arm-orange);

        --ads-card-border-color: var(--arm-light-grey-alt-2);
        --ads-card-background-color-hover: var(--arm-light-grey-alt);
        --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
    }
    html[theme='dark'] ads-card.path-card {
        --ads-card-border-color: var(--arm-black);
        --ads-card-background-color-hover: var(--black);
        --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(255, 255, 255, 0.25);
    }

</style>