<style>
    /* Tab color on left */
    .tab-row {
        background-color: grey;
    }
    html[theme='dark'] .tab-row {
        background-color: var(--arm-color-overlay-light);
    }   
    html[theme='dark'] .tab-row.active {
        background-color: var(--arm-blue);
    }  


    /* Tab Content on right */
    .tab-right-card {
        border-style: solid;
        border-width: 1px;
        width: 100%;
        margin-left: 10px;

        border-color: grey;
        background-color: white;
        color: white;
    }
    .tab-right-card > h6 {
        color: white;
    }

    html[theme='dark'] .tab-right-card {
        border-color: var(--arm-color-overlay-light);
        background-color: var(--arm-color-surface);
    }
    html[theme='dark'] .tab-right-card.active {
        border-color: var(--arm-blue);
        background-color: var(--arm-color-surface);
    }

    html[theme='dark'] .tab-right-card > h6 {
        color: white;
    }

</style>