/*********************************************************************            
        Fonts
                Heading: Noi Grotesk
                Subheading: Source Code
                Body: Lato
        Background colors

**********************************************************************/

/* UNIVERSAL */
/****************************************************/
div.overlay-styling {
        background-color: rgba(0,0,0,.75);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
}





/* Light Theme */
/****************************************************/
html[theme='light'] body {
        background-color: var(--arm-light-grey-alt);
}

/* Dark Theme */
/****************************************************/
html[theme='dark'] body {
        background-color: var(--arm-color-surface);
        
}

/* SW-Hub Theme */
/****************************************************/
html[theme='sw-hub'] body {
        background-color: var(--arm-light-grey);        
}

html[theme='sw-hub'] h1,h2,h3,h4,h5,h6 {
        /*font-family: "Noi Grotesk", sans-serif; */
}


