


/*********************************************************************            

        Main Topic Cards

**********************************************************************/

ads-card.main-topic-card {
    --ads-card-border-radius: 10px;
    --ads-card-border-width: 2px;
    --ads-card-border-color: var(--arm-light-grey-alt-2);
    --ads-card-background-color: var(--arm-light-grey-alt);

    --ads-card-border-color-hover: var(--arm-orange);

    --ads-card-background-color-hover: var(--arm-light-grey);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(0,0,0,0.25);
}
html[theme='dark'] ads-card.main-topic-card {
    --ads-card-background-color: var(--arm-color-surface);
    --ads-card-border-color: var(--arm-black);

    --ads-card-background-color-hover: var(--black);
    --ads-card-box-shadow-hover: 0 1px 3px 3px rgba(255, 255, 255, 0.25);
}

ads-card.main-topic-card:hover  .card-title {
    transition: color 0.3s ease-in-out;
    color: var(--arm-orange);
}

ads-card.main-topic-card  .card-title {
    font-size: 1.15em;
}

ads-card.main-topic-card .card-title-div {
    min-height: 85px;
}