

ads-button#filter-button.is-open {
    z-index: 5;
}


html[theme='dark'] div#facets-background {
    background-color: var(--arm-color-surface);
}
html[theme='light'] div#facets-background {
    background-color: var(--arm-light-grey-alt);
}
html[theme='sw-hub'] div#facets-background {
    background-color: var(--arm-light-grey-alt);
}