{{ define "main" }}


<div>
  <h1>All posts for {{ .Data.Singular }} "{{ .Title }}"</h1>

        <div class="c-row">
            <div class="c-col c-col-12">
                <!-- Sorting functionality -->
                <div class="c-horizontal-rule">
                    <div id="sort-div" >
                        <span id="sort-by-date">
                            Date
                        </span>
                        <span id="date-chevron" class="far fa-chevron-down"></span>

                        <span id="sort-by-path">
                            Learning Path
                        </span>
                        <span id="learning-path-chevron" class="far fa-chevron-down"></span>
                    </div>
                </div>



                <!-- Display Learning Paths -->
                <div class="u-display-grid u-gap-1 md:u-grid-columns-2 xl:u-grid-columns-3  u-margin-top-1">
                    {{ range .Data.Pages }}
                    <div class='path-div'>
                        <ads-card has-hover-effect  link="{{.Permalink}}" class='path-card'>
                        <ads-card-content slot="content">
                            <ads-tag class="path-card-tag {{.Params.skillLevel}}" text="{{.Params.skillLevel}}"></ads-tag>
                            <ads-tag class="path-card-section" text="{{.Parent.Title}}"></ads-tag>
                            <h4 class="card-title u-margin-top-1/2 u-margin-bottom-1/2">{{.Title}}</h4>
                            <p class="card-date">Updated {{ .Lastmod.UTC.Format "Jan 2, 2006" }}</p>
                            <p class="card-description">{{.Description}}</p>
                        </ads-card-content>   
                        </ads-card>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>

    </div>



{{ partial "ads-cards/ads-card-style.html" . }}

{{ end}}

