/*****************************************************************/
/*
*       Content styling                                                              
*/                  
/*****************************************************************/

/* Box around content (learning paths and tools) */
div.content-box {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    margin-top: 16px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    border-color: var(--arm-dark-grey);
}

/* Spacing for content, surrounded by markdown-content-div (learning paths and tools) */
div.markdown-content-div p {
    margin-left: 16px;
}
div.markdown-content-div ul {
    margin-left: 32px;
    margin-bottom: 16px;
}
div.markdown-content-div h1,
div.markdown-content-div h2,
div.markdown-content-div h3,
div.markdown-content-div h4,
div.markdown-content-div h5,
div.markdown-content-div h6 {
    margin-top: 32px;
}
/* Increase h3 font weight to normal to make more readable for regular reading */
div.markdown-content-div h3 {
    font-weight: 400;
}

/* Increase table font */
table {
    font-size: var(--ads-font-size-small);
}
@media (min-width: 576px) {
    table {
        font-size: var(--ads-font-size-large);
    }
}


/*****************************************************************/
/*
*       Mobile styling                                                            
*/                  
/*****************************************************************/

/* List pages table of contents view */
div.content-head-container-mobile {
    position:sticky; 
    top:0px;
    z-index: 1000;
    width: 100%;
}

div.content-head-container-mobile.open {
    height:100vh;  /* to debug, could work */
    overflow-y: scroll;
}

div.content-header-mobile {
    display: flex;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--arm-dark-grey);

    background-color: var(--arm-light-grey);
}
html[theme='dark'] div.content-header-mobile {
    background-color: var(--arm-color-overlay-light);
}

.content-header-btn-mobile {
    --ads-button-background-color-tertiary: var(--arm-blue);
    cursor: pointer;
}
.content-header-txt-mobile {
    font-weight: bold;
}

.content-individual-mobile {
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--arm-dark-grey);

    background-color: var(--arm-light-grey-alt-2);
}
html[theme='dark'] .content-individual-mobile {
    background-color: var(--arm-dark-grey-alt);
}

#content-table-of-contents-mobile.inactive:hover { border-color: var(--arm-orange); }
.content-individual-txt-mobile { margin: 0px; }
.content-individual-txt-mobile.active { color: var(--arm-light-blue); cursor: default ;}
.content-individual-txt-mobile.inactive:hover { color: var(--arm-orange);} /* change color on inactive only */