<div id="expanded-masthead">
  <ads-masthead>
    <ads-breadcrumbs slot="breadcrumbs" sr-label="Breadcrumbs">
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ads-breadcrumbs>
      <h1 id="ads-masthead-title" slot="heading"><span>{{.Title}}</span></h1>
  </ads-masthead>
</div>



{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<ads-breadcrumb slot="breadcrumb" label="{{ .p1.Permalink }}" link="{{ .p1.Permalink }}"  {{ if eq .p1 .p2 }} current="true"{{ end }}>{{ .p1.Title }}</ads-breadcrumb>
{{ end }}