
<ads-global-navigation theme="dark" breakpoint="md" id="global-nav-example-default" sr-label="default navigation">
    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category1" aria-labelledby="global-nav-example-default:tab:category1" role="tabpanel" tabindex="0">
      <a href="https://developer.arm.com/"><span class="u-color-white">View on Developer.Arm.com</span></a>
    </div>
    <div slot="tab-content" id="category2" aria-labelledby="global-nav-example-default:tab:category2" role="tabpanel" tabindex="0">
      <a href="https://developer.arm.com/"><span class="u-color-white">View on Developer.Arm.com</span></a>
    </div>
    <div slot="tab-content" id="category3" aria-labelledby="global-nav-example-default:tab:category2" role="tabpanel" tabindex="0">
      <a href="https://developer.arm.com/"><span class="u-color-white">View on Developer.Arm.com</span></a>
    </div>

    <!-- Slotted Action Content -->
    <div slot="action-content" id="mobile-search" aria-labelledby="global-nav-example-default:tab:mobile-search" role="tabpanel" tabindex="0">
      <span>Example Mobile Search</span>
      <ads-search has-search-button />
    </div>
    <div slot="action-content" id="account-view" aria-labelledby="global-nav-example-default:tab:account-view" role="tabpanel" tabindex="0">
      <span>Example Action Content</span>
    </div>
  </ads-global-navigation>




  <script>
    (() => {
      const logo = {
        src: '/img/logo.svg',
        link: '/',
        alt: 'Arm developer logo',
      };
  
      const actions = [
        {
          id: 'theme',
          type: 'button',
          icon: 'fas fa-lightbulb',
          title: 'theme',
        },
      ];

      const contextualData = [
        {
          id: 'category1',
          slotId: 'category1',
          label: 'Developing on Arm',
          link: 'https://developer.arm.com/',
        },
        {
          id: 'category2',
          slotId: 'category2',
          label: 'Architecture and Processors',
          link: 'https://developer.arm.com/',
        },
        {
          id: 'category3',
          slotId: 'category3',
          label: 'Tools and Software',
          link: 'https://developer.arm.com/',
        },
      ];
  
      const data = [
        {
          id: 'example-link',
          label: 'Learn',
          link: 'https://www.arm.com',
        },
      ];
  
      const globalNav = document.getElementById('global-nav-example-default');
      globalNav.globalData = data;
      globalNav.contextualData = contextualData;
      globalNav.actions = actions;
      globalNav.logo = logo;
      globalNav.highlightedTabId = 'example-link';

      globalNav.actionSelectHandler = (evt) => {
        if (evt.action === 'theme') {
            const currentTheme = document.querySelector('html').getAttribute("theme");
            let newTheme = "dark"
            if(currentTheme === "dark") {
              newTheme = "light"
            }
            document.querySelector('html').setAttribute('theme', newTheme);
        }
      };

    })();

  </script>



