
<ads-global-navigation theme="dark" breakpoint="lg" id="global-nav-example-default" sr-label="default navigation">
    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category1" role="tabpanel" tabindex="0">
        <div class="flyout-content-container c-container u-padding-top-2 u-padding-bottom-5">

          <div class="c-row">
            <div class="c-col c-col-12">
              <h2 class="u-color-arm-light-grey u-font-weight-300 u-margin-top-0 u-margin-bottom-2">Software Development Areas</h2>
            </div>
          </div>

          <div class="c-row">
            <div class="c-col c-col-12">
              <div class="u-display-grid u-gap-2 sm:u-grid-columns-1 md:u-grid-columns-2 lg:u-grid-columns-3 xl:u-grid-columns-3 xxl:u-grid-columns-4">
                {{ range (where .Site.Pages "Params.maintopic" true).ByWeight}}
                  <ads-card has-hover-effect class="path-card" link="{{.Permalink}}">
                    <ads-card-image slot="image" src="/{{.Params.cardimage}}" class="u-bg-position-top" style="max-height: 75px;"></ads-card-image>
                    <ads-card-content slot="content">
                        <h4 class="u-color-arm-blue u-margin-top-0 u-margin-bottom-0">{{.Title}}</h4>
                    </ads-card-content>   
                </ads-card>
                {{end}}
              </div>
            </div>
          </div>
        </div>
    </div>


    <!-- Slotted Flyout Content -->
    <div slot="tab-content" id="category2" role="tabpanel" tabindex="1">
      <div class="flyout-content-container c-container u-padding-top-2 u-padding-bottom-5">

        <div class="c-row">
          <div class="c-col c-col-12">
            <h2 class="u-color-arm-light-grey u-font-weight-300 u-margin-top-0 u-margin-bottom-2">Install Tools</h2>
          </div>
        </div>

        <div class="c-row u-margin-top-1 u-margin-left-2">
          <div class="c-col">
            <p theme="dark">Looking for quick install instructions for a particular tool?</p>
            
            <span style="display:inline-block;">
                <ads-search theme="dark" has-search-button id="search-box-tools-global-nav" placeholder="Search by tool name" class="u-width-auto"></ads-search>
            </span>
            <span style="display:inline-block;" class="u-margin-left-1">
                <ads-cta-link link='/install-tools'><span>See all</span></ads-cta-link>
            </span>
          </div>
        </div>
      </div>
  </div>

  <div slot="top-bar-content-end">
    {{ $gh_repo := ($.Param "github_repo") -}}
    <ads-cta-button level="tertiary" theme="dark" size="small" text="Contribute" onclick="location.href={{$gh_repo}};"></ads-cta-button>
  </div>
</ads-global-navigation>


<script>
(() => {
    const logo = {
      src: '/img/logo.svg',
      link: '/',
      alt: 'Arm developer logo',
    };

    const actions = [
      {
        id: 'theme',
        type: 'button',
        icon: 'fas fa-lightbulb',
        title: 'theme',
      },
      /* Uncomment to allow user to change page width
      {
        id: 'width',
        type: 'button',
        icon: 'fas fa-text-width',
        title: 'width',
      },
      */
      {
        id: 'height',
        type: 'button',
        icon: 'fas fa-text-height',
        title: 'height',
      },
    ];

    const contextualData = [
      {
        id: 'category1',
        slotId: 'category1',
        label: 'Software Development Areas',
        items: [
          {
            label: 'Server and Cloud',
            link: '/learning-paths/cloud/',
          },
          {
            label: 'Desktop and Laptop',
            link: '/learning-paths/desktop_and_laptop/',
          },
          {
            label: 'Mobile',
            link: '/learning-paths/mobile/',
          },
          {
            label: 'Automotive',
            link: '/learning-paths/auto/',
          },
          {
            label: 'IoT',
            link: '/learning-paths/iot/',
          },
        ],
      },
      {
        id: 'category2',
        slotId: 'category2',
        label: 'Install Tools',
        link: '/install-tools/',
      },
    ];

    const data = [
      {
        id: 'example-dropdown',
        label: 'Arm Developer Community Sites',
        items: [
          {
            id: 'example-dropdown__item-1',
            label: 'Discord Server',
            link: 'https://www.arm.com',
          },
          {
            id: 'example-dropdown__item-2',
            label: 'Other',
            link: 'https://www.arm.com',
          },
        ],
      },
      
    ];

    const globalNav = document.getElementById('global-nav-example-default');
    globalNav.globalData = data;
    globalNav.contextualData = contextualData;
    globalNav.actions = actions;
    globalNav.logo = logo;

    globalNav.actionSelectHandler = (evt) => {
      if (evt.action === 'theme') {
          const currentTheme = document.querySelector('html').getAttribute("theme");

          if(currentTheme === "dark") {
            document.querySelector('html').setAttribute('theme', 'light');
            document.getElementById('prism-code-theme').href='/css/prism-light.css';
            localStorage.setItem('lightMode', 'true');      //Save user preference in storage
          }
          else {
            document.querySelector('html').setAttribute('theme', 'dark');
            document.getElementById('prism-code-theme').href='/css/prism-dark.css';
            localStorage.removeItem('lightMode');
          }
      };
      if (evt.action === 'width') {
          const isCurrentlyFullWidth = document.getElementById("all-content-div").classList.contains("is-full-width");
          if ( isCurrentlyFullWidth ) {
            localStorage.setItem('smallerWidth', 'true');  //Save user preference in storage
            document.getElementById("all-content-div").classList.remove("is-full-width");
            document.getElementById("all-content-div-margined").classList.remove("u-margin-left-2");
            document.getElementById("all-content-div-margined").classList.remove("u-margin-right-2");
          }
          else {
            localStorage.removeItem('smallerWidth');     
            document.getElementById("all-content-div").classList.add("is-full-width");
            document.getElementById("all-content-div-margined").classList.add("u-margin-left-2");
            document.getElementById("all-content-div-margined").classList.add("u-margin-right-2");
          }
      };
      if (evt.action === 'height') {
        const navDisplaySetting = window.getComputedStyle(document.getElementById("expanded-masthead")).display;
        if (navDisplaySetting === "none") {
          localStorage.removeItem('fullHeight');
          globalNav.contextualData = contextualData;  // Show seoncary nav on Global Nav         
          document.getElementById("expanded-masthead").removeAttribute('hidden'); // Show title
          document.getElementById("arm-footer").removeAttribute('hidden');      // Show footer
          document.getElementById("only-breadcrumb-masthead").setAttribute('hidden',true); // Hide only breadcrumbs
        }
        else {
          localStorage.setItem('fullHeight', 'true');      //Save user preference in storage
          globalNav.contextualData = [];  // Hide seoncary nav on Global Nav         
          document.getElementById("expanded-masthead").setAttribute('hidden',true); // Hide title
          document.getElementById("arm-footer").setAttribute('hidden',true);      // Hide footer
          document.getElementById("only-breadcrumb-masthead").removeAttribute('hidden'); // Show just breadcrumbs
        }
      };

    };
  })();



</script>









