<div id="header_top_nav">
    <!-- Change theme button-->
    <a onclick="changeTheme()"><span class="c-navigation-action__icon fas fa-lightbulb"></span></a>
</div>




<script defer language="javascript" type="text/javascript">
    function changeTheme() {
        const current_theme = document.documentElement.getAttribute('theme');
        console.log(current_theme);
        if (current_theme == 'dark') {
            document.documentElement.setAttribute('theme','light');
        } else {
            document.documentElement.setAttribute('theme','dark')
        }
    }
</script>