{{define "main"}}

    <div class="c-row md:is-collapsed u-gap-1-1/2 u-flex-nowrap u-padding-top-1">
        <!-- Left pane -->
        <div class="c-col lg:c-col-3 xl:c-col-2 u-hide lg:u-display-block u-flex-shrink-0 card-tab-col">
            <!-- Title top left -->
            <h6 class="u-margin-top-1/2" style="font-size:1rem; font-weight: bold;">{{ .Params.Title }}</h6>
            
            <!-- GitHub links to edit / log an issue -->
            {{partial "github/github-links.html" .  }}
        </div>

        <!-- Right pane, content-->
        <div class="c-col lg:c-col-9 xl:c-col-10">
            <div class="content-box">
                <!-- Clickable tag -->
                <ads-tag    href='{{ "/" | relLangURL}}tools/{{.Title | urlize}}'>
                        <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                        <span class="fa-solid fa-tag"></span>
                        {{.Title}}
                </ads-tag>

                <!-- Content -->
                {{ with .Content }}
                {{ . }}
                {{ end }}
            </div>
        </div>
    </div>

{{end}}