{{define "main"}}
<!-- themes/layouts/install-guides/single.html-->
<a href="https://www.w3schools.com" target="_blank"><p class="u-margin-top-1/2 u-margin-bottom-0 u-margin-left-0" style="color: var(--arm-blue); text-decoration: none;"><span><img style="vertical-align: middle; width: 20px;" class="github-svg" src="/img/github.svg"/>&nbsp;&nbsp;Log an issue</p></span></a>
        <a href="https://www.w3schools.com" target="_blank"><p class="u-margin-top-0 u-margin-left-0" style="color: var(--arm-blue); text-decoration: none;"><span><img style="vertical-align: middle; width: 20px;" class="github-svg" src="/img/github.svg"/>&nbsp;&nbsp;View page source</p></span></a>

<div class="content-box">

</div>
{{ with .Content }}
{{ . }}
{{ end }}

{{end}}