{{ define "main" }}
<!-- Defines homepage layout-->

<!-- List of Learning Path Topics -->
<div class="c-row">
    <div class="c-col">
        <div class="u-display-grid u-gap-1 md:u-grid-columns-2 xl:u-grid-columns-3 u-margin-top-1">

            {{ range where .Site.Pages "Params.maintopic" true}}
            <ads-card has-hover-effect class="path-card" link="{{.Permalink}}">
                <ads-card-content slot="content">
                    <h4 class="u-color-arm-blue u-margin-top-1/2 u-margin-bottom-1/2 u-text-bold">{{.Title}}</h4>
                    <p>{{.Description}}</p>
                </ads-card-content>   
            </ads-card>
            {{ end }}

        </div>
    </div>
</div>


<!-- Getting Started Footer -->







{{ partial "ads-cards/ads-card-style.html" . }}






{{ end }}