


<!-- Markdown metadata -->
<div class="content-box">
    <h2>About this Learning Path</h2>
    <!-- First row of info-->
    <div class="c-row">
        <div class="u-display-grid u-gap-1 md:u-grid-columns-2 u-margin-top-1">

            <div class="c-col">
                <h6>Reading time:
                    <span><i class="fa-solid fa-clock"></i></span>
                    {{.Params.minutes_to_complete}} minutes
                </h6>
                <h6>Last updated:
                    <span><i class="fa-solid fa-calendar-days"></i></span>
                    {{ .Lastmod.UTC.Format "Jan 2, 2006" }}
                </h6>                         
            </div>
            <div class="c-col u-flex-grow-1">
                <h6>Tags:
                    <span>
                        {{ range .Params.armips }}
                            <ads-tag text='{{ replace . "_" " " }}'></ads-tag>
                        {{ end }}
                        {{ range .Params.softwaresarm }}
                            <ads-tag text='{{ replace . "_" " " }}'></ads-tag>
                        {{ end }}
                        {{ range .Params.softwaresother }}
                            <ads-tag text='{{ replace . "_" " " }}'></ads-tag>
                        {{ end }}
                        {{ range .Params.toolsarm }}
                            <ads-tag text='{{ replace . "_" " " }}'></ads-tag>
                        {{ end }}
                        {{ range .Params.toolsother }}
                            <ads-tag text='{{ replace . "_" " " }}'></ads-tag>
                        {{ end }}
                    </span>
                </h6>
            </div>
        </div>
    </div>            
</div>










<!-- Markdown metadata -->
<!--
<div class="content-box">
    <h2>About this Learning Path</h2>
    <div class="c-row">
        <div class="c-col">
            <div class="u-display-grid u-gap-1 md:u-grid-columns-3 u-margin-top-1">
                <div class="metadata-col-1">
                    <p>Reading time: xyz</p>
                </div>
                <div class="metadata-col-2">
                    <p>Last updated: abc</p>
                </div>
                <div class="metadata-col-3">
                    <p>Author: This Person</p>
                </div>
            </div>
        </div>
    </div>

    <div class="c-row">
        <div class="c-col">
            <div class="u-display-grid u-gap-1 md:u-grid-columns-3 u-margin-top-1">
                <div class="metadata-col-1">
                    <p><b>Arm IP</b></p>
                    {{ range .Params.armips }}
                        <ads-tag text="{{.}}"></ads-tag>
                    {{ end }}
                </div>
                <div class="metadata-col-2">
                    <p><b>Software</b></p>
                    {{ range .Params.softwaresarm }}
                        <ads-tag text="{{.}}"></ads-tag>
                    {{ end }}
                    {{ range .Params.softwaresother }}
                        <ads-tag text="{{.}}"></ads-tag>
                    {{ end }}
                </div>
                <div class="metadata-col-3">
                    <p><b>Tools</b></p>
                    {{ range .Params.toolsarm }}
                        <ads-tag text="{{.}}"></ads-tag>
                    {{ end }}
                    {{ range .Params.toolsother }}
                        <ads-tag text="{{.}}"></ads-tag>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>            
</div>
-->

<!-- Markdown content -->
<div class="content-box">
    <h2>Who is this for?</h2>
        <p class="u-margin-left-1">{{ .Params.who_is_this_for }}</p>
    <h2 class="u-margin-top-2">What will you learn?</h2>
        {{ range .Params.learning_objectives }}
            <li class="u-margin-left-2">{{.}}</li>
        {{ end }}  
    <h2 class="u-margin-top-2">Prerequisites</h2>
        {{ range .Params.prerequisites }}
            <li class="u-margin-left-2">{{.}}</li>
        {{ end }}        
</div>
