
<!-- Markdown metadata -->
<div class="content-box">
    <h2>About this Learning Path</h2>
    <!-- First row of info-->
    <div class="c-row">
        <div class="u-display-grid u-gap-1 md:u-grid-columns-2">

            <div class="c-col">
                <!-- Tags to the left, essential -->
                <ads-tag class="path-card-tag {{.Params.skillLevels}}" text="{{.Params.skillLevels}}"></ads-tag>
                <!-- <ads-tag class="path-card-section" text="{{.Parent.Title}}"></ads-tag> -->
                {{ partial "ads-cards/ads-card-style.html" . }}


                <p class="u-margin-top-1/2 u-margin-bottom-0">Reading time:
                    <span><i class="fa-solid fa-clock"></i></span>
                    {{.Params.minutes_to_complete}} minutes
                </p>
                <p class="u-margin-bottom-0">Last updated:
                    <span><i class="fa-solid fa-calendar-days"></i></span>
                    {{ .Lastmod.UTC.Format "Jan 2, 2006" }}
                </p>         
                <p class="u-font-style-light">Arm IP: 
                    <span><i class="fa-solid fa-microchip"></i></span>
                    {{ range .Params.armips }}<span><a href="https://developer.arm.com/Processors#q={{.}}" target="_blank" style="text-decoration: none;">{{.}}&nbsp;&nbsp;&nbsp;</a></span>{{end}}    
                </p>                
            </div>
            <div class="c-col u-flex-grow-1 u-margin-top-2">
                <span>
                    {{ range .Params.subjects }}
                        <ads-tag    href='{{ "/" | relLangURL}}subjects/{{. | urlize}}'>
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ . }}
                        </ads-tag>
                    {{ end }}
                    {{ range .Params.operatingsystems }}
                        <ads-tag    href='{{ "/" | relLangURL}}operatingsystems/{{. | urlize}}'>
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ . }}
                        </ads-tag>
                    {{ end }}
                    {{ range .Params.softwares }}
                        <ads-tag    href='{{ "/" | relLangURL}}softwares/{{. | urlize}}'>
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ . }}
                        </ads-tag>
                    {{ end }}
                    {{ range .Params.tools }}
                        <ads-tag    href='{{ "/" | relLangURL}}tools/{{. | urlize}}'>
                            <span class="u-flex u-flex-row u-align-items-center u-gap-1/2">
                            <span class="fa-solid fa-tag"></span>
                            {{ . }}
                        </ads-tag>
                    {{ end }}
                    </span>
                </h6>
            </div>
        </div>
    </div>            
</div>




<!-- Markdown content -->
<div class="content-box">
    <h2>Who is this for?</h2>
        <p class="u-margin-left-1">{{ .Params.who_is_this_for }}</p>
    <h2 class="u-margin-top-2">What will you learn?</h2>
        {{ range .Params.learning_objectives }}
            <li class="u-margin-left-2">{{.}}</li>
        {{ end }}  
    <h2 class="u-margin-top-2">Prerequisites</h2>
        {{ range .Params.prerequisites }}
            <li class="u-margin-left-2">{{. | markdownify}}</li>
        {{ end }}        
</div>

