<ads-expansion-panel is-default-expanded class="u-padding-bottom-1">
    <div slot="content">
        <div class="u-flex u-flex-column">
            {{ $num_of_tags := 0 }}
            {{ range .tagname }}
                <!-- filterPaths-->
                <ads-checkbox class="tag-{{.Page.Title | urlize}}" id="{{.Page.Title}}" onclick="filterHandler_LearningPaths(this)">
                    <a href="{{ .Page.Permalink }}">
                        {{ .Page.Title }}
                    </a>
                </ads-checkbox>
                {{ $num_of_tags = add $num_of_tags 1 }}
            {{end}}
        </div>
    </div>
    <!-- Header name still goes on top with the slot, but it uses a counter from the 'tagname' loop -->
    <span slot="toggle">{{.displayname}}&nbsp;&nbsp;</span><span slot="toggle" style="color: var(--arm-dark-grey);">({{$num_of_tags}})</span>
</ads-expansion-panel>
